Backup*/
/work
bin
obj
/TestResults
/vendor
/reference
*.suo
/_ReSharper.RosSharp
*.user
Thumbs.db
/Doc/build
/Release
MolesAssemblies
/UpgradeLog4.htm
/UpgradeLog3.htm
/UpgradeLog2.htm
/UpgradeLog.htm
.vs
